
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(247, 241, 230);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(245, 208, 140);
    border-radius: 10px;
  }